<!DOCTYPE html>
<html>
<head>
  <title>SuckerPunched</title>
  <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">SuckerPunched </a></h1>
				<p>Cheap Shots at Gaming News</p>
			</div>
			<div id="StackOverflow"><a href="http://stackoverflow.com/users/2046988/gapped"><img src="http://stackoverflow.com/users/flair/2046988.png?theme=dark" width="208" height="58" alt="profile for Gapped at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Gapped at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a></div>
			<div id="menu">
				<ul class="">
					<li><%= link_to "Home", categories_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Blog", root_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					<li><%= link_to "Resources", resources_path %></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->