<div class="post_comment">
<<<<<<< HEAD
	<div><%= image_tag post_comment.gravatar_url %>
		<%=h post_comment.name %><i> says:</i><br />
		<%= simple_format h(post_comment.body) %>
	</div>
=======
	<i><%= image_tag post_comment.gravatar_url %><%=h post_comment.name %> says:</i><br />
	<%= simple_format h(post_comment.body) %>
	
>>>>>>> 5fc32a3bdae66a586abba55624c708aebab1af33
</div>